body{
    .hero{
        .row{
            .col-5{
                .img-1{
                    width: 100px;
                    height: 100px;
                }
                .img-2{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}